mean_unmatch =  1000.0000 C L(200 - 1500) 
sigma_unmatch =  50.0000  C L(1 - +INF) 
alpha_unmatch =  1.0000   C L(-INF - +INF) 
n_unmatch =  .3000        C L(0 - 20) 
machfrac =  0.999         C  L(0 - 1) 

mean_match =  1010.0000  L(900 - 1100) 
sigma_match = 40.0000    L(1 - 100) 
width_match =  1.0000    L(0 - 1000) 
alpha1_match =  1.700   L(0.5 - 3.0) 
alpha2_match =  5.000   L(2.0 - +INF) 
n1_match = 2.00        L(0 - 5) 
n2_match = 4.000        L(0 - 20) 
