mean_match =  0.0000 C L(-INF - +INF) 
sigma_match =  0.0000 C L(-INF - +INF) 
width_match =  0.0000 C L(-INF - +INF) 
mean_unmatch =  0.0000 C L(-INF - +INF) 
sigma_unmatch =  0.0000 C L(-INF - +INF) 
alpha_unmatch =  0.0000 C L(-INF - +INF) 
n_unmatch =  0.0000 C L(-INF - +INF) 
machfrac =  0.0000 C L(-INF - +INF) 
alpha1_match =  0.0000 C L(-INF - +INF) 
n1_match =  0.0000 C L(-INF - +INF) 
alpha2_match =  0.0000 C L(-INF - +INF) 
n2_match =  0.0000 C L(-INF - +INF) 
